* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, 'Times New Roman', Times, serif;
    height: 100vh;
    background-color: #080113;
    color: white;
}

header {
    background-color: #010101;
    color: white;
    width: 100%;
    padding: 20px 35px;
}

header h1 {
    display: inline;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    color: white;
    text-decoration: none;
}

header nav {
    float: right;
    margin: 10px 10px;
}

header nav ul {
    /* display: inline; */
    align-items: center;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer {
    width: 100%;
    background-color: #010101;
    padding: 25px 35px;
    text-align: center;
}

footer h2 {
    display: inline;
    font-size: 32px;
    margin: 0;
    color: white;
}

footer p {
    /* float: right; */
    /* text-align: right; */
    font-size: 25px;
    color: white;
}

.hero {
    background-image: url(../images/programmer-image.jpg);
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.info {
    border-bottom: 2px solid lightblue;
    padding: 10px;
}

.info h2 {
    text-align: center;
    border-bottom: 1px solid lightblue;
    width: 50%;
    display: inline-block;
    padding: 25px 15px;
    margin-left: 300px;
    margin-right: 100px;
}

.container {
    /* width: 255px; */
    padding: 85px 60px;
    display: inline-block;
    overflow: auto;
}

.name {
    display: inline;
    float: left;
}

.container h3 {
    font-size: 40px;
    color: lavender;
    /* display: inline; */
    float: left;
}

.name-span {
    font-size: 50px;
    font-weight: 800;
    color: lemonchiffon;
}

.container p {
    font-size: 20px;
    /* width: 550px; */
    padding: 45px 0;
    float: left;
}

.container img {
    height: 203px;
}

.container div {
    float: right;
    width: 45%;
    display: inline;
}