* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, 'Times New Roman', Times, serif;
    height: 100vh;
    background-color: #080113;
    color: white;
}

header {
    background-color: #010101;
    color: white;
    width: 100%;
    padding: 20px 35px;
}

header h1 {
    display: inline;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    color: white;
    text-decoration: none;
}

header nav {
    float: right;
    margin: 10px 10px;
}

header nav ul {
    /* display: inline; */
    align-items: center;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer {
    width: 100%;
    background-color: #010101;
    padding: 25px 35px;
    text-align: center;
}

footer h2 {
    display: inline;
    font-size: 32px;
    margin: 0;
    color: white;
}

footer p {
    /* float: right; */
    /* text-align: right; */
    font-size: 25px;
    color: white;
}


/* <<<<<hero section>>>>>> */

.hero {
    background-image: url(../images/programmer-image.jpg);
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.info {
    border-bottom: 2px solid lightblue;
    padding: 10px;
}

.section-title {
    text-align: center;
    border-bottom: 2px solid lightblue;
    /* border: 2px solid lightblue; */
    padding: 25px 50px;
    display: inline-block;
    /* justify-content: center; */
}

.section-title h2 {
    border: 2px solid lightblue;
    width: 100%;
    border-radius: 17px;
    padding: 7px 10px;
    background-color: rgb(245, 235, 235);
    color: #080113;
}

.container {
    /* width: 255px; */
    padding: 85px 60px;
    display: inline-block;
    overflow: auto;
}

.name {
    display: inline;
    float: left;
}

.container h3 {
    font-size: 40px;
    color: lavender;
    /* display: inline; */
    float: left;
}

.name-span {
    font-size: 50px;
    font-weight: 800;
    color: lemonchiffon;
}

.container p {
    font-size: 20px;
    /* width: 550px; */
    padding: 45px 0;
    float: left;
}

.container img {
    height: 203px;
}

.container div {
    float: right;
    width: 45%;
    display: inline;
}


/* <<<<<Projects section>>>>>> */

.project-container {
    padding: 50px;
    border-bottom: 2px solid lightblue;
}


/* .work-title {
    text-align: center;
    padding: 25px 15px;
    border-bottom: 2px solid lightblue;
    justify-content: center;
} */

.row {
    display: flex;
    height: 88%;
    align-items: center;
}

.row col {
    flex-basis: 50%;
}

.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: 1s;
    box-shadow: 0 0 20px 2px rgba(63, 62, 62, 0.1);
}

.stock1 {
    padding-left: 80px;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 17px;
}

.card :hover {
    transform: scale(1.3);
}


/* .card1 {
    background-image: url(../images/running-img.jpg);
}

.card2 {
    background-image: url(../images/calculator.jpg);
}

.card3 {
    background-image: url(../images/code-img.jpg);
}

.card4 {
    background-image: url(../images/puzzle-img.jpg);
}

.card5 {
    background-image: url(../images/ai-robot-img.jpg);
}

.card6 {
    background-image: url(../images/blog.jpg);
} */


/* .card7 {
    background-image: url(../images/Ux.jpg);
}

.card8 {
    background-image: url(../images/uxd.jpg);
} */


/* .card9 {
    background-image: url(../images/stocks.jpg);
} */