* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, 'Times New Roman', Times, serif;
    height: 100vh;
    background-color: #080113;
    color: white;
}

header {
    background-color: #010101;
    color: white;
    width: 100%;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    display: inline;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    color: white;
    text-decoration: none;
}

header nav {
    float: right;
    margin: 10px 10px;
}

header nav ul {
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 22px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
    background-color: rgb(250, 246, 246);
    color: #010101;
    border-radius: 17px;
    text-shadow: none;
}

footer {
    width: 100%;
    background-color: #010101;
    padding: 25px 35px;
    text-align: center;
}

footer h2 {
    display: inline;
    font-size: 32px;
    margin: 0;
    color: white;
}

footer p {
    font-size: 25px;
    color: white;
}


/* <<<<<hero section>>>>>> */

.hero {
    background-image: url(../images/programmer-image.jpg);
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.info {
    border-bottom: 2px solid lightblue;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    text-align: center;
    border-bottom: 2px solid lightblue;
    padding: 25px 50px;
    display: flex;
    width: 17%;
}

.section-title h2 {
    border: 2px solid lightblue;
    width: 100%;
    border-radius: 17px;
    padding: 7px 10px;
    background-color: rgb(245, 235, 235);
    color: #080113;
}

.container {
    /* width: 255px; */
    padding: 85px 60px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.name {
    display: inline;
    float: left;
}

.container h3 {
    font-size: 40px;
    color: lavender;
    /* display: inline; */
    float: left;
}

.name-span {
    font-size: 50px;
    font-weight: 800;
    color: lemonchiffon;
}

.container p {
    font-size: 21px;
    /* width: 550px; */
    padding: 45px 0;
    float: left;
    line-height: 1.3;
}

.container img {
    height: 203px;
}

.container div {
    float: right;
    width: 45%;
    display: inline;
}


/* <<<<<Projects section>>>>>> */

.project-container {
    padding: 50px;
    border-bottom: 2px solid lightblue;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
    flex-wrap: wrap;
}

.row col {
    flex-basis: 50%;
}

.row .col {
    padding: 10px;
}

.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    box-shadow: 0 0 20px 2px rgba(63, 62, 62, 0.1);
}

.stock1 {
    padding-left: 80px;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 17px;
}

.card :hover {
    transform: scale(1.3);
}


/* <<<Contact section>>> */

.contact-info-container {
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.contact-info {
    align-items: center;
    padding: 15px;
    margin: 10px 2px;
    float: right;
}

.contact-info a {
    color: white;
    text-decoration: none;
}

.contact-info ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.contact-info ul li a {
    padding: 5px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    border-bottom: 1px solid lightblue;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.onclick ul li a:hover {
    background-color: white;
    color: #010101;
    border-radius: 17px;
    text-shadow: none;
}


/* <<<<Form section>>>> */

.form-body {
    display: flex;
    height: 56vh;
    justify-content: center;
    align-items: center;
}

.contact-container {
    max-width: 600px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
}

.contact-container .title {
    font-size: 25px;
    font-weight: 400;
    position: relative;
}

.contact-container .title ::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
}

.contact-container form .user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-info .input-box {
    margin-bottom: 10px;
    width: calc(100% / 2-20px);
}

.user-info .input-box input {
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    font-size: 12px;
}

.user-info .input-box details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.button {
    height: 45px;
}

.button input {
    height: 100%;
    width: 100%;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

form .button input:hover {
    background-color: rgba(49, 49, 49, 0.986);
    color: rgb(219, 216, 216);
    border-radius: 17px;
    text-shadow: none;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    .contact-container {
        max-width: 100%;
    }
    form .user-info .input-box {
        margin-bottom: 10px;
        width: 100%
    }
    .contact-container form .user-info {
        max-height: 300px;
        overflow: auto;
    }
    .contact-info ul li a {
        font-size: 17px;
    }
    .section-title h2 {
        width: 100%;
    }
    .card {
        flex: 1 100%;
    }
    .contact-info-container {
        width: 100%;
    }
    .onclick ul li a {
        flex: 1 100%;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    .contact-container {
        max-width: 100%;
    }
    form .user-info .input-box {
        margin-bottom: 10px;
        width: 100%
    }
    .contact-container form .user-info {
        max-height: 300px;
        overflow: auto;
    }
    .contact-info ul li a {
        font-size: 17px;
    }
    .section-title h2 {
        width: 100%;
    }
    .card {
        flex: 1 50%;
    }
    .contact-info-container {
        width: 100%;
    }
    .onclick ul li a {
        flex: 1 100%;
    }
}

@media screen and (max-width: 575px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    .contact-container {
        max-width: 100%;
    }
    form .user-info .input-box {
        margin-bottom: 10px;
        width: 100%
    }
    .contact-container form .user-info {
        max-height: 300px;
        overflow: auto;
    }
    .contact-info ul li a {
        font-size: 17px;
    }
    .section-title h2 {
        width: 100%;
    }
    .contact-info-container {
        width: 100%;
    }
    .onclick ul li a {
        flex: 1 100%;
        justify-content: space-around;
    }
    .row {
        width: 100%;
    }
    .card {
        flex: 2 100%;
    }
}